<!DOCTYPE HTML>
<html lang="en">
<head>
  {{ title }}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link rel="stylesheet" href="assets/css/main.css" />

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/exercises.js"></script>
  <script src={{ custom_script }}></script>

</head>
  {{ bodystuff }}
    <!-- Wrapper -->
    <div id="wrapper">

      {% include '_header.html' %}
      {{ main }}	 
      {% include '_footer.html' %}
    </div>
    {% include '_menu.html' %}
	
  </body>
</html>
