<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link rel="stylesheet" href="assets/css/main.css" />

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/exercises.js"></script>
  {{ custom_script }}

</head>

<body>
  <!-- Wrapper -->
  <div id="wrapper">

{% include '_header.html' %}
{% include '_menu.html' %}
{{ main }}	 
{% include 'footer.html' %}

  </div>  
</body>
</html>
