<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Search Exercises</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link rel="stylesheet" href="assets/css/main.css" />

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/search.js"></script>

</head>
	<body>
    <!-- Wrapper -->
    <div id="wrapper">

      {% include '_header.html' %}
	  
	  {% include '_menu.html' %}
		
	  <div id="main">
	  <div class="inner">
	  	  <section>
			{{ main }}
			</section>  
		 </div>
	  </div>
      {% include '_footer.html' %}
    </div>

	
  </body>
</html>


	
