	<nav id="menu"><!--div class="inner"-->
      <h2>Menu</h2>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="Section_Start_here.html">1. Start here</a></li>
        <li><a href="Section_The_IPA.html">2. The IPA</a></li>
        <li><a href="Section_Language_Examples.html">3. Language Examples</a></li>
        <li><a href="Section_Acoustic_theory.html">4. Acoustic Phonetics</a></li>
        <li><a href="Section_Prosody.html">5. Prosody</a></li>
        <li><a href="Section_Articulatory_Phonetics.html">6. Articulatory Phonetics</a></li>
	<li><a href="Section_Aerodynamics.html">7. Aerodynamic Phonetics</a></li>
	<li><a href="Section_Auditory_Phonetics">8. Auditory Phonetics</a></li>
      </ul>
    <!--</div><a class="close" href="#menu">Close</a></nav>-->
