Title<title>Bura labialization</title>TitleBody<body onload="initialize()">Body
	
    <div id="main">
      <div class="inner">
	<h1>Bura labialization</h1>

<p>Bura is an Afro-Asiatic language of the Chadic family (Biu-Mandara branch) spoken by approximately 250,000 people in Nigeria. The two major dialects are Pela (Hill Bura) and Hyilhawul (Plain Bura).</p>

	<span class="image fit"><img src="media/sounds/bura/bura.gif" width="400px"></span>

	<p>What Bura word is this?</p>

<p><input id="audio_questions" type="button" onclick="document.getElementById('theaudio').play();document.getElementById('answerbox').focus();" value="play"></p>

	  <input id="answerbox" type="text" onkeydown="if (event.keyCode == 13) check_answer()" placeholder="type answer here">
	  <span id="feedback"></span></p>
	<p style="font-size:small">Correct: <span id="correct">0</span> ---- Run: <span id="run">0</span></p>	

      </div>
    </div>
    
    