Title<title>Formants in an [i] model</title>TitleBody<body onload="initialize(0)">Body
	
    <div id="main">
      <div class="inner">
	<h1>Formants in an [i] model</h1>


	 <span class="image fit"><img src="media/images/ex/i_tube.png" width="400px"></span>

	 <p>For this exercise assume:  
<i>l<sub>b</sub></i> = 8.5 cm, 
<i>l<sub>c</sub></i> = 4 cm, 
<i>l<sub>f</sub></i> =  3.5 cm. 
<i>A<sub>b</sub></i> = 3 cm<sup>2</sup>, 
<i>A<sub>c</sub></i> = 0.3 cm<sup>2</sup>.<br>
The relevants formulas are: &nbsp&nbsp&nbspf = c/2π * sqrt(A<sub>c</sub> / (A<sub>b</sub> l<sub>b</sub> l<sub>c</sub>)),&nbsp&nbsp&nbsp&nbsp f<sub>n</sub> = nc/2l, &nbsp&nbsp&nbsp&nbspf<sub>n</sub> = (2n-1)c/4l</p>

	<p><span id="question"></span>
	  <input id="answerbox" type="text" onkeydown="if (event.keyCode==13) check_answer()" placeholder="enter your answer here"></p>

	<p>It would be a good idea to write down your answers as you go.</p>
	  <span id="feedback"></span></p>
	<p style="font-size:small">Correct: <span id="correct">0</span> ---- Run: <span id="run">0</span></p>	

	<p>Image after figure 6.3 in Johnson (2012) <i>Acoustic and Auditory Phonetics. 3rd Ed.</i> Wiley-Blackwell</p>

      </div>
    </div>
    
    
