    <!-- Main -->
    <div id="main">
      <div class="inner">
	<header>
	  <h1>This phonetics workbook is a collection of on-line exercises for
	    your self-study or to accompany your course in phonetics.
	  </h1>
	  <p>These exercises are designed to accompany a combination of
	    different college textbooks, including Ashby and
	    Maidment's (2005) <i>Introduction to Phonetic Science</i>,
	    Ladefoged and Johnson's (2015) <i>A Course in
	    Phonetics</i>, Johnson's (2012) <i>Acoustic and Auditory
	    Phonetics</i>, and Gick, Wilson & Derrick's
	    (2013) <i>Articulatory Phonetics</i>. <a href="#acknowledgements">Acknowledgements</a></p>
	</header>
	
	<section class="tiles">
	  <article class="style1">
	    <span class="image"><img src="images/VisSpeechCons-01.png" alt="" /></span>
	    <a href="intro.php">
	      <h2>Intro</h2>
	      <div class="content">
		<p>1. Getting oriented with the International Phonetic Alphabet, and acoustic phonetics.</p>
	      </div>
	    </a>
	  </article>
	  
	  <article class="style2">
	    <span class="image"><img src="images/top_view_larynx.png" alt="" /></span>
	    <a href="voice.php">
	      <h2>Voice</h2>
	      <div class="content">
		<p>2. Laryngeal anatomy and function, digital signals.</p>
	      </div>
	    </a>
	  </article>
	  
	  <article class="style3">
	    <span class="image"><img src="images/ipa_vowels.png" alt="" /></span>
	    <a href="vowels.php">
	      <h2>Vowels</h2>
	      <div class="content">
		<p>3. Cardinal vowels, tongue muscles, and vowel formants.</p>
	      </div>
	    </a>
	  </article>

	  <article class="style4">
	    <span class="image"><img src="images/A_M_Fig3_1.png" alt="" /></span>
	    <a href="place.php">
	      <h2>Place of articulation</h2>
	      <div class="content">
		<p>4. IPA transcription, intrinsic muscles of the tongue, source-filter theory of consonants.</p>
	      </div>
	    </a>
	  </article>
	  
	  <article class="style5">
	    <span class="image"><img src="images/pistons_and_valves.png" alt="" /></span>
	    <a href="manner.php">
	      <h2>Manner of articulation</h2>
	      <div class="content">
		<p>5. IPA transcription, aerodynamics, acoustic side cavities.</p>
	      </div>
	    </a>
	  </article>
	  
	  <article class="style6">
	    <span class="image"><img src="images/egg_stroboscope-01.png" alt="" /></span>
	    <a href="voice2.php">
	      <h2>Phonation</h2>
	      <div class="content">
		<p>6. Voice onset time and phonation types.</p>
	      </div>
	    </a>
	  </article>
	  
	  <article class="style2">
	    <span class="image"><img src="images/extrinsic_laryngeal_muscles-01.png" alt="" /></span>
	    <a href="airstream.php">
	      <h2>Airstream mechanisms</h2>
	      <div class="content">
		<p>7. Glottalic, and velaric consonants.</p>
	      </div>
	    </a>
	  </article>
	  
	  <article class="style3">
	    <span class="image"><img src="images/acoustic_demo.png" alt="" /></span>
	    <a href="complex.php">
	      <h2>Complex sounds</h2>
	      <div class="content">
		<p>8. Multiply articulated sounds.</p>
	      </div>
	    </a>
	  </article>
	  
	  <article class="style1">
	    <span class="image"><img src="images/pic09.jpg" alt="" /></span>
	    <a href="prosody.php">
	      <h2>Prosody</h2>
	      <div class="content">
		<p>9. Pitch, timing, and amplitude Above the segment.</p>
	      </div>
	    </a>
	  </article>
	  
	  <article class="style5">
	    <span class="image"><img src="images/guess.png" alt="" /></span>
	    <a href="motor.php">
	      <h2>Speech motor control</h2>
	      <div class="content">
		<p>10. Coordination and gestures.</p>
	      </div>
	    </a>
	  </article>
	  
	  <article class="style6">
	    <span class="image"><img src="images/pic11.jpg" alt="" /></span>
	    <a href="phonology.php">
	      <h2>Phonology</h2>
	      <div class="content">
		<p>11. Features and processes.</p>
	      </div>
	    </a>
	  </article>
	  
	  <article class="style4">
	    <span class="image"><img src="images/pic12.jpg" alt="" /></span>
	    <a href="perception.php">
	      <h2>Speech perception</h2>
	      <div class="content">
		<p>12. Audition and perception of speech.</p>
	      </div>
	    </a>
	  </article>
	</section>
	<a name="acknowledgements"></a>

	<p><b>Acknowledgements</b>: Much of the content in these pages
	was produced by Peter and Jenny Ladefoged and distributed with
	Peter's "A Course in Phonetics". (They wisely never gave the
	rights to these materials to the publisher.) See
	the <a href="http://linguistics.berkeley.edu/acip">webpage for
	"Course"</a> for more exercises.  Additional acknowledgements
	are given on the pages in Phonwork where donated or adapted material is
	used.  Many thanks to Patricia Ashby and Maria Josep Sole
	  their extensive and very helpful comments on this site. Also, many thanks
	  to the students who have used these pages and given feedback on what works
	and what doesn't.</p>
      </div>
    </div>
    
