Title<title>Phonetics workbook</title>TitleBody<body class="" data-new-gr-c-s-check-loaded="8.888.0" data-gr-ext-installed="">Body
    <!-- Main -->
    <div id="main">
      <div class="inner">
	<header>
	  <h1>A phonetics workbook.
	  </h1>
	  <p>These exercises are organized by the different "models" that phoneticians use to study speech. 
They are designed to accompany a combination of
	    different college textbooks, including Ashby and
	    Maidment's (2005) <i>Introduction to Phonetic Science</i>,
	    Ladefoged and Johnson's (2015) <i>A Course in
	    Phonetics</i>, Johnson's (2012) <i>Acoustic and Auditory
	    Phonetics</i>, and Gick, Wilson & Derrick's
	    (2013) <i>Articulatory Phonetics</i>. 

<a href="#acknowledgements">Acknowledgements</a></p>
	</header>
	
	<section class="tiles">
	  <article class="style1">
	    <span class="image"><img src="media/images/A_M_Fig3_1.png" alt="" /></span>
	    <a href="Section_Start_here.html">
	      <h2>Start Here</h2>
	      <div class="content">
		<p>1. Basics of phonetic transcription and vocal tract anatomy.</p>
	      </div>
	    </a>
	  </article>
	  
	  <article class="style2">
	    <span class="image"><img src="media/images/VisSpeechCons-01.png" alt="" /></span>
	    <a href="Section_The_IPA.html">
	      <h2>The IPA</h2>
	      <div class="content">
		<p>2. The International Phonetic Alphabet.</p>
	      </div>
	    </a>
	  </article>
	  
	  <article class="style3">
	    <span class="image"><img src="media/images/ipa_vowels.png" alt="" /></span>
	    <a href="Section_Language_Examples.html">
	      <h2>Language examples</h2>
	      <div class="content">
		<p>3. Transcription exercises for many languages.</p>
	      </div>
	    </a>
	  </article>

	  <article class="style4">
	    <span class="image"><img src="media/images/acoustic_demo.png" alt="" /></span>
	    <a href="Section_Acoustic_theory.html">
	      <h2>Acoustic Phonetics</h2>
	      <div class="content">
		<p>4. The 'source-filter' model of speech acoustics.</p>
	      </div>
	    </a>
	  </article>
	  
	  <article class="style5">
	    <span class="image"><img src="media/images/egg_stroboscope-01.png" alt="" /></span>
	    <a href="Section_Prosody.html">
	      <h2>Prosody</h2>
	      <div class="content">
		<p>5. Tone, quantity, and other prosodic features.</p>
	      </div>
	    </a>
	  </article>
	  
	  <article class="style6">
	    <span class="image"><img src="media/images/guess.png" alt="" /></span>
	    <a href="Section_Articulatory_Phonetics.html">
	      <h2>Articulatory Phonetics</h2>
	      <div class="content">
		<p>6. Anatomy and motor control of speech.</p>
	      </div>
	    </a>
	  </article>
	  
	  <article class="style2">
	    <span class="image"><img src="media/images/pistons_and_valves.png" alt="" /></span>
	    <a href="Section_Aerodynamics.html">
	      <h2>Aerodynamic Phonetics</h2>
	      <div class="content">
		<p>7. Aerodynamic aspects of speech.</p>
	      </div>
	    </a>
	  </article>
	  
	  <article class="style3">
	    <span class="image"><img src="media/images/acoustic_demo.png" alt="" /></span>
	    <a href="Section_Auditory_Phonetics.html">
	      <h2>Auditory Phonetics</h2>
	      <div class="content">
		<p>8. Auditory system and speech perception.</p>
	      </div>
	    </a>
	  </article>
	  
	</section>
	<a name="acknowledgements"></a>

	<p><b>Acknowledgements</b>: Much of the content in these pages
	was produced by Peter and Jenny Ladefoged and distributed with
	Peter's "A Course in Phonetics". (They wisely never gave the
	rights to these materials to the publisher.) See
	the <a href="http://linguistics.berkeley.edu/acip">webpage for
	"Course"</a> for more exercises.  Additional acknowledgements
	are given on the pages in Phonwork where donated or adapted material is
	used.  Many thanks to Patricia Ashby and Maria Josep Sole
	  their extensive and very helpful comments on this site. Also, many thanks
	  to the students who have used these pages and given feedback on what works
	and what doesn't.</p>
      </div>
    </div>
    
