Title<title>Mazatec phonation</title>TitleBody<body onload="initialize()">Body
	
    <div id="main">
      <div class="inner">
	<h1>Mazatec phonation contrasts</h1>

	<span class="image fit"><img src="media/sounds/mazatec/mazatec.gif" width="400px"></span>

	<p>What Mazatec word is this?</p>

<p><input id="audio_questions" type="button" onclick="document.getElementById('theaudio').play();document.getElementById('answerbox').focus();" value="play"></p>

	  <input id="answerbox" type="text" onkeydown="if (event.keyCode == 13) check_answer()" placeholder="type answer here">
	  <span id="feedback"></span></p>
	<p style="font-size:small">Correct: <span id="correct">0</span> ---- Run: <span id="run">0</span></p>	

      </div>
    </div>
    
    