<title>One of these vowels</title>
0
	
    <div id="main">
      <div class="inner">
	<h1>One of these vowels is not like the others</h1>

	Which of these words has a different vowel sound than the others?

	<p><span id="question"></span>
	  <input id="answerbox" type="text" onkeydown="if (event.keyCode == 13) check_answer()" placeholder="type answer here">
	  <span id="feedback"></span></p>
	<p style="font-size:small">Correct: <span id="correct">0</span> ---- Run: <span id="run">0</span></p>	

      </div>
    </div>
    
    