Title<title>Saying the Secondary CVs</title>TitleBody<body onload="initialize()">Body
	
    <div id="main">
      <div class="inner">
	<h1>Saying the Secondary Cardinal Vowels</h1>

	<span class="image fit"><img src="media/images/ex/secondary.png" width="400px"></span>

	<p>Try saying cardinal vowel number <span id="question"></span>.</p>

	<p> <input type="button" onclick="play_audio_example()" value="hear the answer"></p>

	<p>Did you get it right? 
	  <input id="answerbox" type="text" onkeydown="if (event.keyCode==13) check_answer()" placeholder="type yes or no">
	  <span id="feedback"></span></p>
	<p style="font-size:small">Correct: <span id="correct">0</span> ---- Run: <span id="run">0</span></p>	

      </div>
    </div>
    
    