<title>The myoelestic aerodynamic theory</title>
0
	
    <div id="main">
      <div class="inner">
	<h1>The myoelastic/aerodynamic theory of phonation</h1>

	<p>The figure below shows six frames in a cross-sectional movie of one cycle of vocal fold vibration, starting at frame 1 and ending at frame 6.  For each question, choose one frame as the point in the vibration cycle where this statement is most likely to be true.</p>

	<span class="image fit"><img src="images/ex/myoelastic_aerodynamic_figure.png" width="400px"></span>

	<p><span id="question"></span>
	  <input id="answerbox" type="text" onkeydown="if (event.keyCode == 13) check_answer()" placeholder="type answer here">
	  <span id="feedback"></span></p>
	<p style="font-size:small">Correct: <span id="correct">0</span> ---- Run: <span id="run">0</span></p>	

      </div>
    </div>
    
    