Title<title>Yuxi - tone 2, tone 5</title>TitleBody<body onload="initialize()">Body
	
    <div id="main">
      <div class="inner">
	<h1>Yuxi - tone 2, tone 5</h1>

	<p>Yuxi is a Wu language spoken near Shanghai, China.  Two of the lexical tones in Yuxi are distinguished by a combination of pitch and phonation type differences.  Listen to the syllables here and enter either "2" or "5" to indicate which tone you think it is.  At first this will be guessing.  Can you pick up the difference?  What phonetic cues are you using to hear the difference? </p>
<p>Audio files provided by Yidan Song.</p>

<p><input id="audio_questions" type="button" onclick="document.getElementById('theaudio').play();document.getElementById('answerbox').focus();" value="play"></p>

	  <input id="answerbox" type="text" onkeydown="if (event.keyCode == 13) check_answer()" placeholder="type answer here">
	  <span id="feedback"></span></p>
	<p style="font-size:small">Correct: <span id="correct">0</span> ---- Run: <span id="run">0</span></p>	

      </div>
    </div>
    
    